<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd" version="6.0">
  <servlet>
    <description></description>
    <display-name>DeleteServlet</display-name>
    <servlet-name>DeleteServlet</servlet-name>
    <servlet-class>DeleteServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteServlet</servlet-name>
    <url-pattern>/DeleteServlet</url-pattern>
  </servlet-mapping>
  <display-name>Employee_system</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>update</servlet-name>
    <servlet-class>update</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>login_servlet</servlet-name>
    <servlet-class>login_servlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>Registration_servlet</servlet-name>
    <servlet-class>Registration_servlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>contactus</servlet-name>
    <servlet-class>contactus</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>update</servlet-name>
    <url-pattern>/update</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>login_servlet</servlet-name>
    <url-pattern>/login_servlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Registration_servlet</servlet-name>
    <url-pattern>/Registration_servlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>contactus</servlet-name>
    <url-pattern>/contactus</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>WelcomeServlet</display-name>
    <servlet-name>WelcomeServlet</servlet-name>
    <servlet-class>WelcomeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>WelcomeServlet</servlet-name>
    <url-pattern>/WelcomeServlet</url-pattern>
  </servlet-mapping>
</web-app>